@charset "UTF-8";

body {
   font-size: 18px;
}
nav ul {
   display: flex;
   justify-content: space-around;
   background-color: #fad184;
   padding: 1.5% 5%;
}
nav ul li {
   font-size: 1.2rem;
}
nav ul li a {
   color: rgb(87, 75, 75);
   text-decoration: none;
}

#top {
   height: 600px;
   background: url(../img/massage_main.jpeg) no-repeat center;
   background-size: cover;
   display: flex;
   align-items: center;
}
.top_wrapper {
   background-color: #ffa500;
   border-radius: 10px;
   padding: 2%;
   margin-left: 5%;
   margin-bottom: 20%;
}
.top_wrapper h1 {
   font-size: 1.8em;
   color: #fff;
}

#service {
   width: 80%;
   margin: 5% auto;
}
.section_title {
   font-size: 2.5rem;
   text-align: center;
   color: #ffa500;
   margin-bottom: 5%;
}
.service_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}
.service_left img {
   width: 80%;
   height: auto;
}
.service_left ul {
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.service_left li {
   list-style: none;
}
.service_right h3 {
   font-size: 1.2rem;
   color: #e9967e;
   padding: 2.5% 0;
}

.service_right p {
   font-size: 1em;
   line-height: 1.5;
   color: #555;
}

#news {
   width: 80%;
   margin: 5% auto;
}
.news_wrapper {
   width: 40%;
   margin: 0 auto;
   line-height: 1.5;
}

#price {
   width: 80%;
  margin: 5% auto;
}
.price_wrapper table {
   border: double #e9967e 10px;
   width: 100%;
   text-align: center;
}
.price_wrapper table tr {
   border: solid #e9967e 3px;
   padding: 1%;
}
#price_wrapper table th {
   border: solid #e9967e 3px;
   padding: 1%;
}
.price_wrapper table td {
   border: solid #e9967e 3px;
   padding: 1%;
}

#contact {
   background: rgb(241, 241, 241);
}
#contact h2 { 
   padding: 5% 0;
   margin: 0; 
}
.form {
   width: 70%;
   margin: 0 auto;
}
label {
   display: inline-block;
   width: 30%;
   line-height: 2;
}
input,
textarea {
   box-sizing: border-box;
   border: solid #ddd 1px;
   width: 60%;
   margin-bottom: 2.5%;
}
input {
   padding: 1%;
}
textarea {
   vertical-align: top;
   height: 200px;
}
.button_submit {
   text-align: center;
}
.button {
   padding: 1.5% 5%;
   background-color: #fad184;
   margin: 5% 0;
   font-weight: bold;
   border: none;
   color: rgb(87, 75, 75);
}

#footer {
   background-color: #fad184;
   padding: 5%;
   text-align: center;
   color: rgb(87, 75, 75);
}